<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blood_Aid"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ViewEventsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BloodRepositoryActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.RequestActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".ui.activity.BloodDonationActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".ui.activity.SearchBloodActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.EventActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.OrgProfileActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.NewsActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.TempActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.ChangeDetailActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.UserDashActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".ui.activity.UserLoginActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.ConfirmPasswordActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.NewRegistrationActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.OrgRegistrationActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.OrganizationDashActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.AdminDashActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>